.list-wrap {
    padding-bottom: 5rem;

    .result-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        border-bottom: solid 0.2rem $primary-color;
        padding-bottom: 2rem;

        .result-title {
            color: $primary-color;
        }
    }

    .movie-results {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @include for-medium-phone-portrait {
            grid-template-columns: 1fr;
            gap: 4rem;
        }

        @include for-medium-phone-landscape {
            grid-template-columns: 1fr;
            gap: 4rem;
        }

        @include movie-card;
    }
}